{% extends 'base.html.twig' %}

{% block title %}New Sandbox{% endblock %}

{% block body %}
    <h1>Create new Sandbox</h1>

    {{ include('sandbox/_form.html.twig') }}

    <a href="{{ path('sandbox_index') }}">back to list</a>
{% endblock %}
